<div id="container" class="margin-below">
  <div id="welcome-page" class="ui one column padded grid">
    <div class="void row">
      <div class="no-pad void column">
        <div class="large-margin ui center aligned container">
          <p class="small-header">Hey, &nbsp; I'm</p>
          <p class="large-header">Nnadozie Okeke</p>
        </div>
      </div>
    </div>
  </div>
    <div class="ui stackable grid container">
      <div class="row">
          <div class="ui center aligned five wide column">
            <div class="ui medium image">
              <img src="src\assets\images\my-avatar.png">
            </div>
          </div>
        <div class="ui center aligned middle aligned eleven wide column">
            <p class="large-margin xmedium-header">
              Software Developer, &nbsp; Electrical and Electronics Engineering Student
            </p>
            <hr class="shorten">
            <br>
            <p class="margin-below">
              Could my past self gaze upon my present self he would see progress, as I see progress that must be made to become my future self.
              Ironically, this self-development framework is born out of a strong desire to afford being lazy. For myself and everyone else.
              To achieve this I have long dreamed of putting humanoid robots in every home. Through consistent and varied personal development, I am building this adventure.
              On any given week, I can be found pushing my physical endurance while jogging, swimming, or cycling; improving my proficiency in Mandarin; competing at a hackathon; attending a tech conference;
              learning a new programming language or framework; working on a new personal project; or just reading a good book.
            </p>
        </div>
      </div>
    </div>
</div>
