#container {
/*  min-height: 100vh;*/
  background-color: #0E0B16
}
#welcome-page {
  /*min-height: 100%;*/
}
hr {
  /*width: 20vh;*/
  color: #4717F6;
  background-color: #4717F6;
  border-color: #4717F6
}
p {
  color: #E7DFDD
}
