<div id="container" class="margin-below">
  <div id="welcome-page" class="ui one column padded grid">
    <div class="void row">
      <div class="no-pad void column">
        <div class="large-margin ui center aligned container">
          <p class="small-header">Hey, &nbsp; I'm</p>
          <p class="large-header">Nnadozie Okeke</p>
        </div>
      </div>
    </div>
  </div>
    <div class="ui stackable grid container">
      <div class="row">
          <div class="ui center aligned five wide column">
            <div class="ui medium image">
              <img src="./assets/images/my-avatar.png">
            </div>
          </div>
        <div class="ui center aligned middle aligned eleven wide column">
            <p class="large-margin small-header">
              Aspiring Software Developer, &nbsp; Electrical and Electronics Engineering Student
            </p>
            <hr class="shorten">
            <br>
            <!--p class="margin-below small-header">
		Welcome to My Page
            </p-->
        </div>
      </div>
    </div>
</div>
