<div id="container">
  <div id="welcome-page" class="ui one column padded grid">
    <div class="void row">
      <div class="void column">
        <div id=extra-margin class="ui center aligned container">
          <p id="small-header">Hey, &nbsp; I'm</p>
          <p id="medium-header">Nnadozie Okeke</p>
        </div>
      </div>
    </div>
    <div class="ui stackable grid container">
      <div class="row">
          <div class="ui center aligned five wide column">
            <div class="ui medium image">
              <img src="src\assets\images\my-avatar.png">
            </div>
          </div>
        <div class="ui center aligned eleven wide column">
          <div class="text container">
          <div id="extra-margin">
            <p style="font-size: 130%">
              Software Engineer, &nbsp; Electrical and Electronics Engineering Student
            </p>
            <hr>
            <br>
            <p>
                  Lorem ipsum sit avum. Que nostra tucex loozerotecthch. Lorem ipsum sit avum. Que nostra tucex loozerotecthch.
                  Lorem ipsum sit avum. Que nostra tucex loozerotecthch.Lorem ipsum sit avum. Que nostra tucex loozerotecthch.
                  Lorem ipsum sit avum. Que nostra tucex loozerotecthch.Lorem ipsum sit avum. Que nostra tucex loozerotecthch.
                  Lorem ipsum sit avum. Que nostra tucex loozerotecthch. Lorem ipsum sit avum. Que nostra tucex loozerotecthch.
                  Lorem ipsum sit avum. Que nostra tucex loozerotecthch.Lorem ipsum sit avum. Que nostra tucex loozerotecthch.
                  Lorem ipsum sit avum. Que nostra tucex loozerotecthch.Lorem ipsum sit avum. Que nostra tucex loozerotecthch.
            </p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
