<div id="container">
  <div class="ui center aligned text container">
    <p class="medium-header medium-margin">Projects</p>
    <hr>
  </div>

  <!-- Simple Reddit Clone -->
  <div class="xxlarge-margin margin-below">
    <div id="projects" class="ui stackable grid container">
      <div class="row">
        <div class="no-pad ui center aligned eleven wide column">
          <div class="ui image">
            <img class="shadow" src="./assets/images/reddit-clone.png">
          </div>
        </div>
        <div class="ui center aligned five wide column">
            <p class="large-margin small-header">
              Simple Reddit Clone
            </p>
            <br>
            <p class="res-p">
              I wanted to build my personal website, but as part of efforts to improve at using JavaScript frameworks, I wanted to build it using Angular.
              So I downloaded an Angular 4 book which contained relevent practical examples. One of them was this simple Reddit clone, and building it taught me all I needed to build this website in Angular.
            </p>
        </div>
      </div>
    </div>
  </div>

  <!--Arduino based obstable avoidance robot-->
  <div class="xxlarge-margin">
    <div id="projects" class="ui computer reversed stackable grid container">
      <div class="row">
        <div class="no-pad ui center aligned eleven wide column">
          <div class="shadow ui right floated image">
            <img src="./assets/images/arduino5.png">
          </div>
        </div>
        <div class="ui center aligned five wide column">
            <p class="large-margin small-header">
              Obstacle Avoidance Robot
            </p>
            <p class="res-p">
              In first year, as the events coordinator for the QMUL AI and Robotics Society, I introduced the society's Arduino 101 workshop. It was aimed at teaching beginners how to use Arudinos without prior experience.
              I had no experience at the time, so to introduce the workshop I went through an Introductory guide to Arduinos, from which a more concise guide was developed for the society.
            </p>
            <p class="res-p">
              In second year, as the workshop coordinator I introduced another workshop, called the Robotics 101 workshop. This was aimed at teahing beginners how to build an obstacle avoidance robot without prior experience.
              Just as in first year, I personally developed the robot in order to create a guide for the society. While I sourced the physical components and designed the circuitry, other committee members developed the robot's obstacle avoidance software.
              This workshop went on to become the society's most popular in the following academic year.
            </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Voltage rectifier -->
  <div class="xxlarge-margin xlarge-below">
    <div id="projects" class="ui stackable grid container">
      <div class="row">
        <div class="no-pad ui center aligned eleven wide column">
          <div class="shadow ui image">
            <img src="./assets/images/voltage-rectifier.png">
          </div>
        </div>
        <div class="ui center aligned five wide column">
            <p class="large-margin small-header">
              University Project
            </p>
            <p class="res-p">
              I was to build a half or full-wave voltage rectifier as the final lab for my Electronic Devices and Applications module in second year.
              It seemed simple enough; a choice between a zener diode in series with a resistor, or a diode bridge of four zener diodes. Minimising residual AC ripple voltage wasn't even a requirement.
              After working out the pre-lab calculations with other coursemates, and modelling the circuit on NI Multism, I was fairly confident the lab would go well.
            </p>
            <p class="res-p">
              I recall hearing the first pop, then sizzle of a coursemate's capacitor, followed by two more pops. Our rectified voltages needed smoothing, but the voltages were too high for our capacitors.
              I endend up handing in a half-wave rectifier with an unfiltered output. Unphased by this, I am eager to re-do this particular lab in my own time when back in university from my placement year.
            </p>
        </div>
      </div>
    </div>
  </div>

</div>
