<div id="container">
  <div class="ui center aligned text container">
    <p class="medium-header medium-margin">Contact me</p>
    <hr>
  </div>

  <div class="ui center aligned grid container">
    <div class="row">
      <div class="xlarge-margin xlarge-below ui five wide column">
        <a href="mailto:n.e.okeke@outlook.com?subject=Hello Nnadozie">
          <img class="ui centered small image" src="src\assets\fonts\svg\email.svg">
        </a>
      </div>
      <div class="xlarge-margin xlarge-below ui five wide column">
        <a href="https://www.linkedin.com/in/nnadozie-okeke-768446ab" target="_blank">
          <img class="ui centered small image" src="src\assets\fonts\svg\027-linkedin.svg">
        </a>
      </div>
    </div>
  </div>
</div>
