<div id="container">
  <div class="ui center aligned text container">
    <p class="void medium-header medium-margin">Interests</p>
    <hr class="void">
    <p class="void small-header large-margin">Technology captivates me</p>
  </div>

  <!-- Simple Reddit Clone -->
  <div class="xlarge-margin margin-below">
    <div id="projects" class="ui stackable grid container">
      <div class="row">

        <div class="no-pad ui eight wide column">
          <div id="projects" class="ui padded grid">
            <div class=" row">
              <div class=" ui eight wide column">

                <div class="shadow ui image">
                  <img src="./assets/images/img11.jpg">
                  <div class="card-image">
                    <p class="caption">
                      Second person from left. At the Royal Academy of Engineering with my team, during the 2017 Engineering a Better World Student Innovation Competition.
                    </p>
                  </div>
                </div>

              </div>
              <div class=" ui eight wide column">

                <div class="shadow ui image">
                  <img src="./assets/images/img22.jpg">
                  <div class="card-image">
                    <p class="caption">
                      Third person from right. With my team during the 2017 Space Apps Hackathon, at IBM Hursley.
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="no-pad ui eight wide column">
          <div id="projects" class="ui padded grid">
            <div class=" row">
              <div class=" ui eight wide column">

                <div class="shadow ui image">
                  <img src="./assets/images/img33.jpg">
                  <div class="card-image">
                    <p class="caption">
                      Second person from right. With my team after the 2017 Facebook London Regional Hackathon.
                    </p>
                  </div>
                </div>

              </div>
              <div class=" ui eight wide column">

                <div class="shadow ui image">
                  <img src="./assets/images/img44.jpg">
                  <div class="card-image">
                    <p class="caption">
                      First person from right. Me running a robotics workshop when I was a committee member of the QMUL AI and Robotics Society.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui center aligned text container">
      <p class="xlarge-margin void small-header">
        AI, Machine Learning, Robotics
      </p>
      <p class="large-margin margin-below fuschia">
        While at IBM I began reading up on machine learning. I also took the opportunity to gain some experience by joining a team which was building a machine learning application. Continuing along this route, as my final year project I am working on teaching a robotic arm and RGB-D camera system to correctly manipulate novel objects.
      </p>
    </div>

    <div class="ui center aligned grid container">
      <p class="void medium-header large-margin small-below">
        View my
      </p>
      <div class="row">
        <div class="large-margin xlarge-below ui five wide column">
          <a href="https://www.instagram.com/dozieokk/" target="_blank">
            <img class="ui centered small image" src="./assets/fonts/svg/029-instagram.svg">
          </a>
          <p class="fuschia small-margin">Art</p>
        </div>
        <div class="large-margin xlarge-below ui five wide column">
          <a href="https://medium.com/ddozroman" target="_blank">
            <img class="ui centered small image" src="./assets/fonts/svg/026-medium.svg">
          </a>
          <p class="fuschia small-margin">Writing</p>
        </div>
        <div class="large-margin xlarge-below ui five wide column">
          <a href="https://twitter.com/dozieokk" target="_blank">
            <img class="ui centered small image" src="./assets/fonts/svg/008-twitter.svg">
          </a>
          <p class="fuschia small-margin">Thoughts</p>
        </div>
      </div>
    </div>

  </div>
</div>
