<div id="container">
  <div class="ui center aligned text container">
    <p class="void medium-header medium-margin">Work Experience</p>
    <hr class="void">
  </div>

<div class="large-margin">
  <div class="ui centered stackable grid container">
    <div class="row">
      <div class="ui center aligned middle aligned four wide column">
        <p class="void small-header medium-margin">Software Engineer</p>
        <p class="void">Jun 2016 - Jun 2017</p>
      </div>
      <div class="no-pad ui center aligned four wide column">
        <div class="ui medium image">
          <img src="src\assets\images\apiconnect2.png">
        </div>
      </div>
    </div>
  </div>
</div>

<!--div class="ui center aligned text container">
  <p class="res-p cookie xlarge-margin margin-below">
    API Connect, an industry leading solution, makes the capabilities of enterprise software easily and securely available to external and internal consumers.
  </p>
</div-->

  <!-- Simple Reddit Clone -->
  <div class="xlarge-margin">
    <div id="projects" class="ui stackable grid container" style="width: 100%!important;">
      <div class="row">
        <div class="no-pad ui six wide column" style="padding-left: 0px;">
          <div class="ui left floated image">
            <img class="shadow" src="src\assets\images\dashing2.png">
          </div>
        </div>
        <div class="ui center aligned four wide column">
            <p class="res-p cookie large-margin">
              API Connect, an industry leading solution, makes the capabilities of enterprise software easily and securely available to external and internal consumers.
            </p>
            <p class="res-p cookie margin-below">
              As an intern I worked extensively with Docker, Ruby, HTML, and SCSS, within a Sinatra based framework called Dashing, to create dashboards for the API Connect team. They displayed customer support,
              infrastructure monitoring, task allocation, and quality assurance information.
            </p>
        </div>
        <div class="no-pad ui six wide column" style="padding-right: 0px;">
          <div class="ui right floated image">
            <img class="shadow" src="src\assets\images\dashing3.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Crosssite Hackathon-->
  <div class="xxlarge-margin xlarge-below">
    <div id="projects" class="ui stackable grid container">
      <div class="row">
        <div class="ui center aligned eight wide column">
            <p class="large-margin large-below cookie">
              I ran migration and accessibility tests for WebSphere Service Registry and API Connect respectively. Wrote Bash scripts to automate team processess, and wrote extensive unit tests for an IP allocation NodeJS application.
            </p>

            <p class="void small-margin small-header">
              Taking opportunities...
            </p>
            <p class="cookie">
              For an internal cross site hackathon, I managed the provision of education,
              certificates, and video editing. And played a key role in preparing a judging process, a travel
              budget, and deciding on a video streaming platform for the event.
            </p>
            <p class="cookie margin-below">
              I learned to use Watson conversation while working with a team developing a machine learning application.
              Similary, as part of a team developing a slack bot, I gained experience in test driven development, continuous integration, design
thinking      practices, and micro-service architectures. </p>
        </div>
        <div class="ui center aligned eight wide column">
          <div class="ui image">
            <img class="shadow" src="src\assets\images\cross-site7.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
